/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.boxed{
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 10px;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
}
a:hover,
button:hover{
    cursor: pointer;
}

/************************************************
    UTILITIES
 ************************************************/

/* PADDING Y */

.padYMidrem{padding: 0.5rem 0;}

.padX50{padding: 50px 0;}

/* PADDING X */

/* WIDTH */

.col50 {width: 50%;}

.dueterzi{width: calc(100% / 3 * 2 - 10px);}
.unterzo{width: calc(100% / 3 * 1 - 10px);}

/* HEIGHT */

/* JUSTIFY */

.spaceBetween {justify-content: space-between;}

/* ALIGN ITEMS */

.alignItemCenter {align-items: center;}


/* TESTO */

.textWhite{color: white;}

/* SFONDI */

.bgViolet {background-color: #9792e4;}


/************************************************
    BODY
 ************************************************/

/* HEADER */

header{
    background-color: #0084fd;
}

a{
    color: white;
}

/* MAIN */

.boxBlue{
    background-color: #b5ddff;
    border-radius: 15px;
    height: 345px;
}