/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.boxed{
    max-width: 1140px;
    margin: 0 auto;
}
.boxed880{
    max-width: 880px;
    margin: 0 auto;
}
h2{
    font-size: 30px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}


.gap{
    gap: 15px;
}

.max{
    width: 100%;
    height: 100%;
}
.mid{
    width: 50%;
    height: 50%;
}
a{
    text-decoration: none;
}
button{
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
}
a:hover,
button:hover{
    cursor: pointer;
}
p{
    line-height: 2;
}

/************************************************
    UTILITIES
 ************************************************/

/* PADDING */
.pad2Rem {padding: 1rem 2rem;}
.pad{padding: 10px 50px;}
.lastButton{
    padding: 1.5em 5rem;
}


.padY1Rem{padding: 1rem 0;}
.padY2Rem{padding: 2rem 0;}
.padY3Rem{padding: 3rem 0;}
.padY5Rem{padding: 5rem 0 ;}

.pad2Rem{padding: 2rem;}
.pad3Rem{padding: 3rem;}
.pad5Rem{padding: 5rem;}



.padX2Rem{padding: 0 2rem;}
.padX3Rem{padding: 0 3rem;}
.pad20 {padding: 0 20px;}
.padX1Rem{padding: 0 1rem;}
.padXMidRem{padding: 0.5rem;}

.padTop2Rem{padding-top: 2rem;}
.padBottom2Rem{padding-bottom: 2rem;}

.marginAuto{margin-top: auto;}
.marginBottom50{margin-bottom: 50px;}
.marginTop2Rem{margin-top: 2rem;}



/* WIDTH */
.col20 {width: 20%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {max-width: 70%;}
.col80 {width: 80%;}

.treterzi{width: calc(100% / 3 * 3);}
.dueterzi{width: calc((100% / 3) * 2 - 5px );}
.unterzo{width: calc((100% / 3) * 1 - 10px );}

/* HEIGHT */

.h200{height: 200px;}
.h600{height: 600px;}
.h930{height: 930px;}
.h1000{height: 1000px;}

/* JUSTIFY */


.spaceAround {justify-content: space-around;}
.spaceBetween {justify-content: space-between;}
.justifyCenter {justify-content: center;}

/* ALIGN ITEMS */

.alignItemCenter {align-items: center;}
.flexEnd{align-items: flex-end;}


/* TESTO */

.textCenter{text-align: center;}
.textWhite{color: white;}
.textViolet{color: #9792e4;}
.textBlue{color: #0084fd;}
.textOrange{color: #fdc15f;}

.text25{font-size: 25px;}
.text2Rem{font-size: 2rem;}
.text80{font-size: 80px;}

.number{font-size: 50px;}

.bold{font-weight: 800;}
.italic{font-style: oblique;}

/* SFONDI */

.bgBlue {background-color: #0084fd;}
.bgWhite {background-color: white;}
.bgBlack {background-color: #333333;}
.bgViolet {background-color: #9792e4;}
.bgLightBlue {background-color: #b5ddff;}


/************************************************
    BODY
 ************************************************/

/* HEADER */

header{
    background-color: #0084fd;
}

a{
    color: white;
}
.logo{
    width: 100%;
    height: 100%;
}

/* MAIN */

.box{
    border-radius: 50px;
}
.smallBR{border-radius: 15px;}

/* GET STARTED */
.getStarted{
    max-width: 600px;
    margin: 0 auto;
}

/* PRIMA SECTION VIOLA */

.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

/* TESTIMONIALS */

.padViolet{
    padding: 2rem 1rem;
}

.profilePic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url("../img/testimonial1.jpg");
    background-position: center;
    background-size: cover;
}
/* TESTIMONIALS */
#testimonials{}

/* ABOUT US */


/* FOOTER */

@media screen and (max-width: 767px){
    .navigation{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .unterzo,
    .dueterzi{
        flex-direction: column;
        width: calc((100%) * 1 );
    }
    img{
        width: 100%;
    }
    .col50{
        width: 100%;
    }
    p{
        line-height: 1.6;
    }
    .boxed880,
    .relative{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    .padY5Rem{
        width: 100%;
    }
    .mid{
        width: 100%;
        height: 100%;
    }
    .padViolet{
        flex-direction: column;
    }
    .aboutUs{
        flex-direction: column;
        
    }
    .col30.flex.column.alignItemCenter{
        align-items: flex-start;
    }
    .getStarted{
        padding: 2rem;
    }
    .textOrange{
        font-size: 40px;
    }
}

@media screen and (min-width:768px) and (max-width: 992px){
    .navigation{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .dueterzi{
        flex-direction: column;
    }
    .max{
        width: 50%;
    }
    .col50{
        width: 100%;
    }
    .padY5Rem{
        width: 100%;
        padding: 5rem 2rem;
    }
    .boxed880{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
    }
    .text25{
        font-size: 50px;
    }
    .mid{
        width: 100%;
        height: 100%;
    }
    .couple{
        width: calc((100% / 2) * 1 - 10px );
    }
    .col70{
        width: 60%;
    }
    .col30{
        width: 40%;
    }
}


@media screen and (min-width: 993px){
    .navigation{
        display: block;
    }

    .hamburger{
        display: none;
    }
}