/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.boxed{
    max-width: 1140px;
    margin: 0 auto;
}
h2{
    font-size: 30px;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 10px;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
}
a:hover,
button:hover{
    cursor: pointer;
}

/************************************************
    UTILITIES
 ************************************************/

/* PADDING Y */

.padYMidrem{padding: 0.5rem 0;}

.padX50{padding: 50px 0;}

.padBottom50{padding-bottom: 50px;}

/* PADDING X */

/* WIDTH */

.col30 {width: 30%;}
.col50 {width: 50%;}
.col70 {width: 70%;}

.treterzi{width: calc(100% / 3 * 3);}
.dueterzi{width: calc(100% / 3 * 2 - 10px);}
.unterzo{width: calc(100% / 3 * 1 - 10px);}

/* HEIGHT */

.h200{height: 200px;}
.h600{height: 600px;}
.h930{height: 930px;}
.h1000{height: 1000px;}

/* JUSTIFY */

.spaceBetween {justify-content: space-between;}


/* ALIGN ITEMS */

.alignItemCenter {align-items: center;}


/* TESTO */

.textCenter{text-align: center;}
.textWhite{color: white;}

/* SFONDI */

.bgBlack {background-color: #333333;}
.bgViolet {background-color: #9792e4;}


/************************************************
    BODY
 ************************************************/

/* HEADER */

header{
    background-color: #0084fd;
}

a{
    color: white;
}

/* MAIN */

.boxBlue{
    background-color: #b5ddff;
    border-radius: 15px;
    height: 345px;
}
.boxViolet{
    background-color: #9792e4;
    border-radius: 50px;
    height: 280px;
}
.boxWhite{
    background-color: white;
    border-radius: 15px;
    height: 400px;
}
/* GET STARTED */
.getStarted{
    max-width: 600px;
    margin: 0 auto;
}

/* FOOTER */